body{
  background-image: url("https://static.pexels.com/photos/139259/pexels-photo-139259.jpeg");
}
table {
    border-collapse: collapse;
    width: 10%;
    border: 1px solid white;
    border-spacing: 1rem;
    margin-left: 10px;
}

th, td {
   border: 1px solid white;
   padding: 25px;
   text-align:left;
}

th {
  height: 30px;
  background-color: #753333;
  color: white;
}

tr{
  height: 25px;
}

tr:hover {
  background-color: #f5f5f5;
}

.text{
  text-shadow: 2px 2px #365d6f;
  font-size: 220%;
}

.hd{
  text-shadow: 2px 2px #365d6f;
  font-size: 300%;
}

#but{
  position: relative;
  top: -120px;
  left: 1200px;
}
img{
  height: 250px;
  width: 40%;
  margin-left: 440px;
}

h1{
  margin-left: 600px;
}

h1:hover{
  text-decoration-color: green;
}