.item {
    margin: 25px 0;

    .img-responsive {
      max-width: 100%;
      margin-bottom: 10px;
    }

    .top-item {

      p {
        display: inline;
      }

      .add-item {
        background-color: #000000;
        border-radius: 5px;
        // border: none;
        // font-size: x-large;
        color: white;
        float: right;
      }
    }
}

#mini-cart {
  border-radius: 5px;
  font-size: large;
  background-color: #6F90A2;
  color: white;
  padding: 0 15px;
  margin: 10px 10px;
}

body {
  background-color: brown;
}

body h1 {
  color: #244751;
}

#header {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/banner.jpg");
  color: #fff;
}

#header h1 {
  font-size: 3.2rem;
  text-align: center;
}

#header p {
  text-align: center;
}

.btn-primary {
  margin: 10px 0 0 10px;
}

video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;
    background-size: cover;
    transition: 1s opacity;
}

.navbar-brand>img {
    display: block;
    height: 140px;
    margin-left: 300px;
}

.opa{
  text-align: center;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #101010;
    height: 150px;
}
